airsim-mcp/mcp_drone.log
airsim-settings/.tmp.driveupload
# Archivos de telemetría de vuelo de calibración
# callibration_flight/telemetry_*.csv

# Python bytecode & cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
venv.bak/
